html,
body {
  height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.nav-list {
  display: flex;
  align-items: center;
}
/*BOOTSTRAP CHANGES*/
.nav {
  padding: 10px;
  background: #f06292 !important;
  align-items: center;
}
.nav-wrapper {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list > li,
a {
  color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  text-decoration: none;
}
.nav-list > li,
a:hover {
  text-decoration: none;
  color: #fff;
}
.nav-item,
.nav-link {
  transition: all 0.3s;
}

.list-group,
.list-group > .active {
  transition: all 0.3s;
}
.list-group > .active {
  background-color: #f06292 !important;
  border-color: #f06292 !important;
}
/*CHANGES END*/
.hoverable {
  transition: all 0.2s;
}
.hoverable:hover {
  background: #f06292;
}
.multiselect-item {
  padding: 5px 10px;
  border-top: 1px solid gray;
  transition: all 0.3s;
  border-radius: 3px;
}
.multiselect-item:hover {
  background: #f06292;
}
.multiselect-selected-item {
  background: #f06292;
  border: 1px solid #f06292;
  transition: all 0.3s;
  color: white;
}
.multiselect-selected-item:hover {
  background: #ec407a;
}
.btn {
  background: rgb(240, 98, 146) !important;
  border-color: rgb(240, 98, 146) !important;
}
.hidden-alert {
  opacity: 0%;
}
.show-alert {
  opacity: 100%;
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.alert {
  transition: all 0.3s;
}
.page-not-found-text {
  transition: all 0.4s;
}
.page-not-found-text:hover {
  color: #ec407a !important;
}
.pop-alert {
  animation: boundingEase;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  right: 0%;
  top: 5%;
  position: absolute;
  width: 30%;
}
.pop-alert-hidden {
  left: 130%;
  display: none;
}
@keyframes boundingEase {
  0% {
    right: -40%;
  }
  100% {
    right: 0%;
  }
}
.category-pickable{
  cursor: pointer;
}
.picked{
  color: #ec407a !important;
}
.selected-list-page{
  color: #ec407a !important;
}