html,
body {
  height: 100%;
}
*{
  box-sizing: border-box;
}
.nav{
  padding: 10px;
  background: #f06292 !important;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;

}
.nav-wrapper{
  width: 100%;
  padding: 0.5rem .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list > li,a{
color:#fff;
border-color:#dee2e6 #dee2e6 #fff;
text-decoration: none;
}
.nav-list > li,a:hover{
  text-decoration: none;
  color:#fff;
}