html,
body {
  height: 100%;
}
*{
  box-sizing: border-box;
}
.nav-list{
  display: flex;
  align-items: center;

}
/*BOOTSTRAP CHANGES*/
.nav{
  padding: 10px;
  background: #f06292 !important;
  align-items: center;
}
.nav-wrapper{
  width: 100%;
  padding: 0.5rem .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list > li,a{
color:#fff;
border-color:#dee2e6 #dee2e6 #fff;
text-decoration: none;
}
.nav-list > li,a:hover{
  text-decoration: none;
  color:#fff;
}
.nav-item,
.nav-link{
  transition: all .3s;
}

.list-group,
.list-group > .active{
  transition: all .3s;
}
.list-group > .active{
  background-color: #f06292  !important;
  border-color: #f06292 !important;
}
/*CHANGES END*/
.hoverable{
  transition: all .2s;
}
.hoverable:hover{
  background: #f06292;
}
.multiselect-item{
  padding: 15px 25px;
  border-top: 1px solid gray; 
  transition: all .3s;
}
.multiselect-item:hover{
  background: #f06292;
}
.multiselect-selected-item{
  background: #f06292;
  border: 1px solid #f06292;
  transition: all .3s;
  color: white;
}
.multiselect-selected-item:hover{
  background: #ec407a;
}
